@import url(agentRoot.css);
@import url(agentGlobal.css);

.container .navbar {
  padding: 15px;
  background-color: var(--navBG);
  display: flex;
  flex-direction: column;
  font-size: var(--text);
  font-weight: var(--fontWeight3);
  border-radius: 10px;
  min-height: calc(100vh - 80px);
}

.container .navbar > a {
  padding: 15px 17px;
  text-decoration: none;
  color: var(--navText);
  width: 260px;
  border-radius: 7px;
  margin-top: 5px;
}

.container .navbar a:hover,
.container .navbar a.active {
  background-color: var(--navHover);
  color: var(--textHover);
}

@media screen and (max-width: 992px) and (min-width: 616px) {
  /* Navigation */
  .container .navbar {
    margin: 0 auto;
    padding: 10px;
    flex-direction: row;
    justify-content: space-evenly;
    border-radius: 10px;
    max-width: 900px;
    width: 100%;
    padding: 5px;
    min-height: 0;
  }

  .container .navbar a i {
    display: none;
  }

  .container .navbar > a {
    text-align: center;
    border-radius: 15px;
    margin-top: 0px;
    width: 190px;
    padding: 8px 5px;
    font-size: var(--textSmall);
  }
}

@media screen and (max-width: 616px) {
  /* Navigation */

  .container .navbar {
    position: relative;
    width: 100%;
    margin: 0 auto;
    padding: 10px;
    flex-direction: row;
    justify-content: space-evenly;
    border-radius: 15px;
    padding: 5px;
    min-height: 0;
    overflow-x: scroll;
  }

  .container .navbar a i {
    display: none;
  }
  .container .navbar > a {
    margin-right: 10px;
  }
  .container .navbar > a {
    text-align: center;
    border-radius: 15px;
    margin-top: 0px;
    max-width: 190px;
    width: 190px;
    min-width: 190px;
    padding: 8px 5px;
    font-size: var(--textSmall);
  }
}
